<?xml version="1.0" encoding="UTF-8"?>

<AUTOSAR>

    <AR-PACKAGES>

        <AR-PACKAGE>

            <SHORT-NAME>
                {{ arxml.package_name }}
            </SHORT-NAME>

            <ELEMENTS>

                <SENDER-RECEIVER-INTERFACE>

                    <SHORT-NAME>
                        {{ arxml.interface_name }}
                    </SHORT-NAME>

                </SENDER-RECEIVER-INTERFACE>

            </ELEMENTS>

        </AR-PACKAGE>

    </AR-PACKAGES>

</AUTOSAR>